<div class="home_page">
    <div class="home_page_header">
        <h1 id="title">Welcome on our version of Trello</h1>
        <p id="description">With Trello, teams are able to collaborate and make great things. For a better management of your projets, use Trello.</p>
        <button id="signup-button" (click)="goToSignup()">Click here, register now for free</button>
    </div>
    <div class="home_page_body">
        <div class="d" id="d1">
            <h2>Collaborate with all your teams</h2>
            <p class="content">Whether it’s for your work, a side project or even your next family vacation, Trello helps your team stay organized.</p>
        </div>
        <div class="d" id="d2">
            <h2>A quick visibily of informations</h2>
            <p class="content">Immerse yourself in the details by adding comments, attachments, deadlines and more directly to your Trello cards. Collaborate to carry out your projects from A to Z.</p>
        </div>
        <div class="d" id="d3">
            <h2>Trello in your own way</h2>
            <p class="content">Use Trello in a way that matches your team’s preferred work methods. We are flexible and our features adapt to all teams.</p>
        </div>
    </div>
</div>